﻿.bg-login {
    background-image: url('../img/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container-form {
    margin-top: 20vh;
    padding: 30px 40px;
    border-radius: 10px;
    -webkit-box-shadow: -3px 9px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 9px 28px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 9px 28px 0px rgba(0,0,0,0.75);

}

body {
}
